$text-color:#4a4a4a;
$backgroungd-color:#F3F7FA;
$backgroungd-color-item:#ffffff;
$blue-item:#2196F3;
$span-text-color:#a0b0b9;
$border-color:#9ABBCE;
$hover-item:#F1FCFF;
$border-filter-color:#dfe5ec;
